ul {
    list-style-type: none;
    margin: 0;
    padding: 1%;
    background-color:rgb(189, 189, 189);
    font-weight: bold;
  }

  li {
    display: inline;
    padding: 1%;
  }

  a{
    text-decoration: none;
    color: black;
    }
    button {
      all: unset
    }